*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: white;
  div{
    background: white;
    color: black;
  }
  .result{
    background-color: white;
    font-size: 200%;
    display: block;
  }
}
